## API URL's
GATSBY_EVENT_MANAGER_API_URL=http://localhost:8081/
GATSBY_ONE_MAP_API_URL=https://www.onemap.gov.sg/api/common/elastic

## Keycloak OIDC Configuration
GATSBY_KEYCLOAK_URL=http://localhost:8080/realms/sgeventhub
GATSBY_KEYCLOAK_CLIENT_ID=sgevent-ui
GATSBY_REDIRECT_URI=http://localhost:8000/api/auth/callback
GATSBY_LOGOUT_REDIRECT_URI=http://localhost:8000/login
GATSBY_COOKIE_SECRET=sgEvent-Hub-Secret-Key

GATSBY_DOMAIN=localhost
GATSBY_ORIGIN=http://localhost:8000
